@import '~antd/lib/style/themes/default.less';

.main {
	width: 368px;
	margin: 0 auto;
	@media screen and (max-width: @screen-sm) {
		width: 95%;
	}

	.copyright {
		text-align: left;
		margin-top: 24px;
		line-height: 22px;
		float: right;
	}

	.spinner {
		text-align: center;
		height: 126px;
		line-height: 126px;
	}

	:global {
		.ant-tabs .ant-tabs-bar {
			border-bottom: 0;
			text-align: center;
		}
	}
	.tabs {
    padding: 0 2px;
    margin: 0 -2px;
		text-align: center;

		:global {

			.ant-tabs-tab {
				font-size: 16px;
			}
		}
  }
}

.container {
	background-repeat: no-repeat;
	background-position: center 110px;
	background-size: 100%;
}

.content {
	padding: 112px 0 24px 0;
}

.top {
	text-align: center;
}

.header {
  display: block;
	height: 100px;
	line-height: 44px;
	a {
		text-decoration: none;
	}
}

.logo {
	height: 60px;
	vertical-align: top;
	margin-right: 16px;
}
